<div class="form-signin">
  <h2 class="text-center display-4 my-4">Login</h2>
  <form (submit)="onSubmit()" #form="ngForm">
    <div class="mb-3">
    <label for="inputEmail" class="form-label">Email:</label>
    <input type="email" class="form-control" name="email" id="inputEmail" placeholder="email@exemplo.com" [(ngModel)]="login.email" required>
  </div>
  <div class="mb-3">
    <label for="inputPwd" class="form-label">Senha:</label>
    <input type="password" class="form-control" name="password" id="inputPwd" placeholder="Senha" [(ngModel)]="login.password" required >
    <ngx-loading-bar fixed ref="http"></ngx-loading-bar>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.form.invalid">Login</button>
  <button type="button" class="btn btn-info ml-3" routerLink="/create-account">Criar Conta</button>
</form>
</div>
