<h2 class="mt-2">Eventos</h2>
<ngx-loading-bar ref="http"></ngx-loading-bar>
<hr />

<div class="mb-3">
  <button type="button" class="btn btn-primary" [routerLink]="['/new']">
    Novo Evento
  </button>
  <button type="button" class="btn btn-success ml-2" (click)="reloadEvents()">
    Recarregar Lista
  </button>
</div>

<section>
  <table class="table" *ngIf="events">
    <tr>
      <th>Sel</th>
      <th>Nome</th>
      <th>Local</th>
      <th>Data</th>
      <th>Tipo</th>
      <th>Ações</th>
    </tr>
    <tr *ngFor="let event of events">
      <td>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" />
        </div>
      </td>
      <td *ngFor="let coluna of headers">
        {{ event[coluna] }}
      </td>
      <td>
        <button
          type="button"
          class="btn btn-sm btn-danger mr-1"
          (click)="deleteEvent(event)"
        >
          Remover</button
        ><button
          type="button"
          class="btn btn-sm btn-warning"
          [routerLink]="['/edit', event.idevent]"
        >
          Editar
        </button>
      </td>
    </tr>
  </table>
  <div
    class="alert alert-warning text-center"
    role="alert"
    *ngIf="events.length == 0"
  >
    Não existem eventos ainda. Adicione um clicando no botão acima!
  </div>
</section>
