@model MyAgenda.Models.Evento

@{
    ViewData["Title"] = "Create";
    IEnumerable<Conta> contas = ViewData["Contas"] as IEnumerable<Conta>;
}

<h1>Criação de Evento</h1>
<hr />
<form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="Titulo" class="control-label"></label>*
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Descricao" class="control-label"></label>*
            <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label asp-for="Local" class="control-label"></label>
            <input asp-for="Local" class="form-control" />
            <span asp-validation-for="Local" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Tipo" class="control-label"></label>*
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Tipo" id="TipoExclusivo" value="Exclusivo" checked>
                <label class="form-check-label" for="TipoExclusivo">
                    Exclusivo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Tipo" id="TipoCompartilhado" value="Compartilhado">
                <label class="form-check-label" for="TipoCompartilhado">
                    Compartilhado
                </label>
            </div>
        </div>
        <div class="form-group col">
            <label asp-for="Data" class="control-label"></label>*
            <input asp-for="Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" id="participantes-select">
        <label class="control-label" for="Participantes">Participantes</label>
        <select class="form-select form-select-lg form-control mb-3" id="Participantes" aria-label="Selecionar participantes">
            <option id="select-participantes">-- Selecione os participantes --</option>
            @foreach (Conta conta in contas)
            {
                <option value="@conta.Idconta" id="@conta.Idconta">@conta.Nome</option>
            }
        </select>
        <div id="conta-eventos"></div>
    </div>
</form>
<div class="form-group">
    <button id="submit-btn" class="btn btn-primary">Submit</button>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $(document).ready(function () {
            var contaEventos = [];
            var i = 0;

            $("#conta-eventos").on("click", ".clickable", function () { // Delete
                let objeto = $(this).closest("div.conta-evento");
                let idconta = objeto.attr("data-idconta");
                let nome = objeto.attr("data-contanome");

                contaEventos = contaEventos.filter(x => x.IdConta != idconta);

                objeto.remove();
                $("#Participantes")
                    .append(`<option value="${idconta}" id="${idconta}">${nome}</option>`)

            });

            $("#participantes-select").on("change", "#Participantes", function() { // Create
                let objeto = $("#Participantes option:selected")
                if (objeto.val() === "-- Selecione os participantes --") return;
                let idconta = objeto.val();
                let nome = objeto[0].innerHTML;
                let data = { IdConta: idconta };

                contaEventos.push(data);

                $(`option[value="${idconta}"]`).remove();
                $("#conta-eventos")
                    .append(`<div class="conta-evento" data-idconta="${idconta}" data-contanome="${nome}"> <span>${nome} <img src="/img/x.png" width="12" class="clickable" id="${i}"/></span> </div>`)
                i++;
            });

            $("#submit-btn").click(function (e) {
                let title = $("#Titulo").val();
                let desc = $("#Descricao").val();
                let local = $("#Local").val();
                let tipo = $("input[name='Tipo']:checked").val()
                let date = $("#Data").val();
                let Form = {
                    Titulo: title,
                    Descricao: desc,
                    Local: local,
                    Tipo: tipo,
                    Data: date
                }
                $.ajax({
                    async: true,
                    type: 'POST',
                    data: { evento: Form, contaEvento: contaEventos },
                    url: '/Eventos/Create/',
                    success: function (res) {
                        window.location.href = "/Eventos"
                    },
                    error: function (res) {
                        toastr.error(res.responseText);
                    }
                });
            });
        });
</script>
}